<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
</head>
<style type="text/css">

</style>
<body style="background: url(../static/img/timg.jfif)">

<!--/*@thymesVar id="username" type="mapper"*/-->
<div style="text-align: center;  margin-top: 200px">
欢迎<strong th:text="${session.adminUser.getName()}" style="margin-left: 20px;color: #2817ff"></strong>
<p>登录会员管理系统</p> <!--获取session中的userName -->
<br>
<span style="color: #c015ff">当前时间：</span>
    <a id="time"></a>
    <script th:inline="javascript">
        /*<![CDATA[*/
        function setTime(){
            var dt=new Date();
            var arr_week=new Array("星期日","星期一","星期二","星期三","星期四","星期五","星期六");
            var strWeek=arr_week[dt.getDay()];
            var strHour=dt.getHours();
            var strMinutes=dt.getMinutes();
            var strSeconds=dt.getSeconds();
            if (strMinutes<10) strMinutes="0"+strMinutes;
            if (strSeconds<10) strSeconds="0"+strSeconds;
            var strYear=dt.getFullYear()+"年";
            var strMonth=(dt.getMonth()+1)+"月";
            var strDay=dt.getDate()+"日";
            <!--var strTime=strHour+":"+strMinutes+":"+strSeconds;-->
            strTime=strHour+":"+strMinutes;
            time.innerHTML=strYear+strMonth+strDay+" "+strTime+"  "+strWeek;
        }
        setInterval("setTime()",1000);
        /*]]>*/
    </script>
</div>


</body>
</html>